<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_HOME" value="${LOG_HOME:-./logs}" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/old/app-%d{yyyyMM}.log</fileNamePattern>
      <maxHistory>12</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%date [%-36.36thread] %-5level %-36.36logger{32} - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%-36.36thread] %-5level %-36.36logger{32} - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <root level="INFO"> <!-- 整个工程默认打印info 级别二级低级 -->
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

  <logger name="shopIn" level="DEBUG" /><!--这工程包默认 DEBUG最低级一级 -->
  <logger name="shopIn.mapper" level="INFO" /><!-- 这个工程下的mapper包不想让他输出DEBUG就来个级别比他高的 -->
  <logger name="shopIn.controller" level="DEBUG"></logger>
  <!-- 有四个级别以后再找 -->
</configuration>






