<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shopIn.mapper.OrdersMapper">
  
  	<insert id="create" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
  		insert into Orders values (Orders_seq.nextval,#{userId},#{address.id},#{createtime},#{state},'') 
  	</insert>
  	<insert id="addItem"><!-- 添加到订单项的订单id和 商品id数量 -->
  		insert into OrdersItem (order_id,cellpone_id,ampout) values(#{ordersId},#{cellpones.id},#{ampout})
  	</insert>
  	<select id="findALl" resultMap="ordersFindALl">
		select 
		      o.id Orders_id, o.createtime Orders_createtime,o."state" Orders_state,
		      a.id Address_id, a.consigneename Address_consigneename,a.phone Address_phone, a.detailsaddress Address_detailsaddress,
		      om.order_id orderId, om.cellpone_id cellpuneId,om.ampout OrdersItem_ampout,
		      cs.id cellpones_id,cs.brand cellpones_brand, cs.model cellpones_model,cs.os cellpones_os,cs.price cellpones_price		         		         
		from orders o
		      inner join users u on u.id=o.user_id 
		      inner join Address a on a.user_id=u.id
		      inner join OrdersItem om on om.order_id=o.id     
		      inner join cellpones cs on  cs.id=om.cellpone_id
		where o.user_id=#{usersId} order by o.id
 
  	</select>
  	<resultMap type="Orders" id="ordersFindALl">
  		<id column="Orders_id" property="id"/>	
  		<result column="Orders_createtime" property="createtime"/>
  		<result column="Orders_state" property="state"/>
  		
  		<association property="address" javaType="Address">
  			<id   column="Address_id" property="id"/>
  			<result column="Address_consigneename" property="consigneeName"/>
  			<result  column="Address_detailsaddress" property="detailsAddress"/>  			
  		</association>
  		
  		<collection property="ordersitem" ofType="OrdersItem">
  			<id column="orderId"/>
  			<id column="cellpuneId"/>
			<result column="OrdersItem_ampout" property="ampout"/>
			
			<association property="cellpones" javaType="Cellpones">
				<id column="cellpones_id" property="id"/>
				<result column="cellpones_brand" property="brand"/>
				<result column="cellpones_model" property="model"/>
				<result column="cellpones_price" property="price"/>
			</association>
  		</collection>  		
  	</resultMap>
  	<select id="findOne" resultMap="ordersFindALl">
			select 
			      o.id Orders_id, o.createtime Orders_createtime,o."state" Orders_state,
			      a.id Address_id, a.consigneename Address_consigneename,a.phone Address_phone, a.detailsaddress Address_detailsaddress,
			      om.order_id orderId, om.cellpone_id cellpuneId,om.ampout OrdersItem_ampout,
			      cs.id cellpones_id,cs.brand cellpones_brand, cs.model cellpones_model,cs.os cellpones_os,cs.price cellpones_price			          
			from orders o
			      inner join users u on u.id=o.user_id 
			      inner join Address a on a.user_id=u.id 
			      inner join OrdersItem om on om.order_id=o.id    
			      inner join cellpones cs on  cs.id=om.cellpone_id
			where o.user_id=#{usersId}  and o.id=#{id}
  	</select>
  	<update id="setTotalAmount">
  		update Orders set TOTAL_AMOUNT=#{totalAmountInFen}  where id=#{id}
  	</update>
  	<select id="findOneToPay" resultType="Orders">
  		select id,"state",total_amount from orders where id=#{orderId}
  	</select>
  	<update id="setStateToPaid">
  			<!-- 把状态改为已支付 -->
  			update Orders set "state"='Paid' where id=#{id}
  	</update>
  </mapper>
  
  
  
  
  
  
  