<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shopIn.mapper.OrdersMapper">
  
  	<insert id="create" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
  		insert into Orders values (Orders_seq.nextval,#{userId},#{address.id},#{createtime}) 
  	</insert>
  	<insert id="addItem"><!-- 添加到订单项的订单id和 商品id数量 -->
  		insert into OrdersItem (order_id,cellpone_id,ampout) values(#{ordersId},#{cellpones.id},#{ampout})
  	</insert>
  </mapper>