<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shopIn.mapper.UsersMapper">
  		<select id="fondAll"  resultType="Users">
  				select * from users 
  		</select>
  		
  		<select id="findOneByUsername" resultType="Users">
  			select * from users  where username=#{username}
  		</select>
  		<select id="create" resultType="boolean">
  			select count(*) from users where username=#{username}
  		</select>
  		
  		<insert id="addUser">
  			insert into users(id, username, password, sex, age_id, gmail, enabled,images)
  			values(users_seq.nextval, #{username},#{password},#{sex},#{age_id},#{gmail}, 1,#{images})
  		</insert>
  		<update id="updateLastLoginTime">
  			update users set LAST_LOGIN_TIME=#{date} where id=#{id}
  		</update>
  		
  </mapper>